Task 4.8 Exercise and Questions

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path
path = r'C:\Users\dolson\OneDrive - BEACON TECHNOLOGIES\Desktop\Instacart Basket Analysis 10.2022'

In [18]:
# Import 'order_products_merged.pkl' from prepared data folder
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_update.pkl'))

In [4]:
#check imported dataframe
#df_ords_prods_merge.shape

In [5]:
# Work with subset of orders_products_merged_update of 1 million rows
#df = df_ords_prods_merge[:1000000]

In [6]:
# check shape and head of new dataframe 
# two functins to be performed on every dataframe imported
#df.shape

In [20]:
# Check shape of new dataframe
ords_prods_merge.shape

(32404859, 20)

In [21]:
# check head of new dataframe 
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders
2,473747,1,prior,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders
3,2254736,1,prior,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,prior,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

In [8]:
# Step 1 split data into groups - try groupby function on new df subset
#df.groupby('product_name')

In [9]:
# groupby function s/b used as part of series of steps
#1.split data into groups based on some criteria
#2.apply a function to each group separately
#3.combine results into a dataframe or alternative structure or create new
# column in current datafram

In [10]:
#step 2 apply a funtion to each group seperately - Aggregation agg() 
# split data into groups based on departement_id, apply agg() function to 
# obtain the mean values for order_number column

#df.groupby('department_id').agg({'order_number':['mean']})

above table shows average number of oders per department_id

In [11]:
# use mean() function The results will take on a slightly different format
#but the same results 

#df.groupby('department_id')['order_number'].mean()

In [12]:
# Dot Notation vs. Square brackets reuslts same but recommend square brackets
# for Visual Appearance-stand out! 
# Default Role - indexing only, with DOT notation Python works harder
# to understand and can make it slower so use BRACKETS when INDEXING!

#df.groupby('department_id').order_number.mean()

Performing Multiple Aggregations statistics

In [13]:
# Use order_number to produce Mean, but also Min and Max 
#df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

Aggregate Data with transform() funtion to create flags.

In [14]:
# Create a loyalty flag column in ords_prods_merge datafram 
# Create new column with transform() funtion for max frequency of the order_number column
# Use loc() funtion,which creates second column for flag designating if customer 
# is loyal or not

In [15]:
#Create flag with criteria:
#if max orders the user made is > 40 customer = 'Loyal customer'
#if max orders the user made >10 or <= 40 customer = 'Regular customer'
#if max orders the user made <= 10 customer = 'New customer'

In [ ]:
#derive column conditions
ords_prods_merged.loc[ords_prods_merged['max_order']>40, 'loyalty_flag']= 'Loyal customer'

In [22]:
# 1. create new column 'max_order' stores maximun number of orders
# 2. group_by df_orders_prods_merge by 'user_id'
# 3. transform() funtion applied on the 'order_number' column with np.max
# NumPy library argument to find max value in column

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])
['order_number'].transform(np.max)

ValueError: Length of values (206209) does not match length of index (32404859)