In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path
path = r'C:\Users\dolson\OneDrive - BEACON TECHNOLOGIES\Desktop\Instacart Basket Analysis 10.2022'

In [3]:
# Import 'order_products_merged.pkl' from prepared data folder
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_update.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [5]:
ords_prods_merge.shape

(32404859, 20)

In [6]:
# Check datatypes
ords_prods_merge.dtypes

order_id                     int64
user_id                      int64
eval_set                    object
order_number                 int64
order_day_of_week            int64
order_hour_of_day            int64
days_since_prior_order     float64
new_customer                  bool
product_id                 float64
add_to_cart_order          float64
reordered                  float64
product_name                object
aisle_id                     int64
department_id                int64
prices                     float64
_merge                    category
price_range_loc             object
busiest_day                 object
busiest_days                object
busiest_period_of_day       object
dtype: object

In [7]:
# Updated task 4.8 with code from Task 4.9 exercise 
#Run exploratory check on data on prices coloumn 

ords_prods_merge.loc[ords_prods_merge['prices'] > 100]

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
10030345,912404,17,prior,12,2,14,5.0,False,21553.0,5.0,0.0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both,High-range product,Regularly busy,Regularly busy,Most orders
10030346,603376,17,prior,22,6,16,4.0,False,21553.0,3.0,1.0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both,High-range product,Regularly busy,Regularly busy,Most orders
10030347,3264360,135,prior,2,2,21,13.0,False,21553.0,6.0,0.0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both,High-range product,Regularly busy,Regularly busy,Average orders
10030348,892534,135,prior,3,0,8,12.0,False,21553.0,3.0,1.0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both,High-range product,Busiest day,Busiest days,Average orders
10030349,229704,342,prior,8,1,19,30.0,False,21553.0,9.0,0.0,Lowfat 2% Milkfat Cottage Cheese,108,16,14900.0,both,High-range product,Regularly busy,Busiest days,Average orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29166209,2249946,204099,prior,29,0,8,4.0,False,33664.0,1.0,0.0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Busiest days,Average orders
29166210,2363282,204099,prior,31,0,9,2.0,False,33664.0,1.0,1.0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Busiest days,Most orders
29166211,3181945,204395,prior,13,3,15,8.0,False,33664.0,25.0,0.0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Regularly busy,Slowest days,Most orders
29166212,2486215,205227,prior,7,3,20,4.0,False,33664.0,8.0,0.0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Regularly busy,Slowest days,Average orders
29166213,2232716,205227,prior,10,0,11,4.0,False,33664.0,23.0,1.0,2 % Reduced Fat Milk,84,16,99999.0,both,High-range product,Busiest day,Busiest days,Most orders

In [8]:
# Updated task 4.8 with code from Task 4.9 exercise 
# The aboveshows 5127 rows with outliner observations
# The $14,900 and $99,999 values are skewing charts
# Mark as missing since they don't make sense of other 
# values.  Turn them into Nans  UPDATE Task 4.8 with code 

ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [9]:
# Updated task 4.8 with code from Task 4.9 exercise 
# Check max value now that all outliers were replaced witn Nans
# shows a more realistic price point $25 grocery item is 
# much more likely than a $14,900 item (and especially a $99,999 item
ords_prods_merge['prices'].max()

25.0

In [10]:
#remove non-needed columns: eval_set,_merge column, and busiest day column
ords_prods_merge= ords_prods_merge.drop(columns= ['eval_set', '_merge','busiest_day'])

In [11]:
ords_prods_merge.shape

(32404859, 17)

In [12]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders

In [13]:
#2 Find the mean number of orders by department id for entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#3 Shows means number of orders for all departments for entire dataset.

In [14]:
#4 Creating a loyalty flag for existing customers using the transform() and loc() functions.
# Step one: Create new column with max order
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10

In [ ]:
# Step two: Create loyalty flag column based on max order criteria

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [ ]:
ords_prods_merge.shape

In [ ]:
ords_prods_merge.head(15)

In [ ]:
# Count number of customers by loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

In [ ]:
# 11.13.22 this changed because of code above added from Task 4.9 findings with creation of hitogram prices graph
# was showing max price of 99999 which skewed the mean values 
#5 Check basis statistics of product prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

The mean prices of products purchased by loyal customers is lower than those compared to those purchased by regular or new customers.

In [ ]:
# 11.13.22 this changed because of code above added from Task 4.9 findings with creation of hitogram prices graph
# was showing max price of 99999 which skewed the mean values 

#6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. 
#Create a spending flag for each user based on the average price across all their orders using the following criteria:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a â€œLow spender.â€
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a â€œHigh spender.â€

In [ ]:
# Target customers based on spending
# Step 1 Create column of mean price by user 
ords_prods_merge['mean_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [ ]:
ords_prods_merge.shape

In [ ]:
ords_prods_merge.head(15)

In [ ]:
# Step 2 Assign spending flag based on average price
ords_prods_merge.loc[ords_prods_merge['mean_order']<10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_order']>=10, 'spending_flag'] = 'High spender'

In [ ]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

In [ ]:
ords_prods_merge[['user_id', 'mean_order', 'spending_flag']].head(100)

In [ ]:
#7  Create order frequency flag based on median days since previous order.
# Step 1 Create a new column showing median days since previous order.
ords_prods_merge['median_days_since_previous_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [ ]:
ords_prods_merge.shape

In [ ]:
ords_prods_merge.head(10)

In [ ]:
# Step 2 Assign frequency flag based on median days since previous order
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order']>20, 'Frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_previous_order']>10) & (ords_prods_merge['median_days_since_previous_order']<=20), 'Frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order']<=10, 'Frequency_flag'] = 'Frequent customer'

In [ ]:
ords_prods_merge.shape

In [ ]:
Z ords_prods_merge.groupby('Frequency_flag').agg({'median_days_since_previous_order':['mean','min','max']})

In [ ]:
ords_prods_merge['Frequency_flag'].value_counts(dropna = False)

In [ ]:
# Renaming mean_order column to mean_price to make it easier to understand
ords_prods_merge.rename(columns = {'mean_order':'mean_price'}, inplace = True)

In [ ]:
ords_prods_merge.head()

In [ ]:
# Export new file as pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flags.pkl'))