## Task 4.6 Exercise

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path
path = r'C:\Users\dolson\OneDrive - BEACON TECHNOLOGIES\Desktop\Instacart Basket Analysis 10.2022'

Q3. In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved

In [3]:
# Import 'order_products_prior.pkl' from prepared data folder
df_orders_prod_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
# Check data with head function 
df_orders_prod_comb.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,both

Q4. Check shape to make sure size is same,exported - it is the same

In [5]:
# Check shape with shape function 
df_orders_prod_comb.shape

(32640698, 12)

Q5. Determine a suitable way to combine the 'orders_products_combined' dataframe with your products data set.
Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
# Import products cleaned data set from Prepared folder 
df_products_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = [0])
#df_products = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [7]:
df_products_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
# Check shape with shape function 
df_products_clean.shape

(49672, 5)

## Merge Data

Merge DataFrames'orders_products_combined.pkl' and 'products_cleaned.csv'.

In [9]:
df_orders_prod_comb.shape

(32640698, 12)

In [10]:
df_orders_prod_comb.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,both
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0,both
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0,both
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0,both
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0,both

In [11]:
# Drop '_merge' column from 'orders_products_combined.pkl'
df_orders_prod_comb = df_orders_prod_comb.drop(columns = ['_merge'])

In [12]:
# check if '_merge' column dropped
df_orders_prod_comb.shape

(32640698, 11)

In [13]:
df_products_clean.shape

(49672, 5)

In [14]:
df_orders_prod_comb.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0
1,2539329,1,prior,1,2,8,NaN,True,14084.0,2.0,0.0
2,2539329,1,prior,1,2,8,NaN,True,12427.0,3.0,0.0
3,2539329,1,prior,1,2,8,NaN,True,26088.0,4.0,0.0
4,2539329,1,prior,1,2,8,NaN,True,26405.0,5.0,0.0

In [15]:
# Determine way to combine df_orders_products (combined) with df_products (cleaned) dataset from prepared data folder

df_orders_prod_merged = df_orders_prod_comb.merge(df_products_clean, on = 'product_id', indicator = True)

Confirm merged datafile using merge flag

In [16]:
df_orders_prod_merged.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both

In [17]:
df_orders_prod_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [18]:
df_orders_prod_merged.shape

(32404859, 16)

# Export merged datafile

In [ ]:
# Export data to pkl
df_orders_prod_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))